/* Delete for changing box-looking ni directory*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  hr {
    margin: 10px auto;
    border: 1px solid #888;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 16px;
  }
  
  strong {
    color: #f4a261;
  }
  