.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.zoomable-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.image-wrapper {
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
}

.image-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: var(--lightGray);
  background-color: var(--darkBg);
  border-radius: 999px;
  border: 1px solid var(--border);
  gap: 6px;
  white-space: nowrap;
}

/* Colored dots */
.tag::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.tag.exterior::before {
  background-color: #2ecc71; /* green */
}

.tag.common-space::before {
  background-color: #e74c3c; /* red */
}

.tag.dorm-room::before {
  background-color: #9b59b6; /* purple */
}

.tag.other::before {
  background-color: #f4a261; /* orange */
}
