.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px 65px;
    gap: 30px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding-bottom: 2px;
  }
  
  .navbar-link:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: red;
  }
  
  .navbar-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: red;
  }
  