.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding: 15px 63px;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-text);
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-link {
  color: var(--light-text);
  text-decoration: none;
  position: relative;
  font-size: 16px;
  padding-bottom: 2px;
}

.navbar-link:hover::after,
.navbar-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--link-hover);
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  color: var(--light-text);
  background: none;
  border: none;
  cursor: pointer;
}

.search-desktop {
  display: block;
}

.search-mobile {
  display: none;
  width: 100%;
  margin-top: 10px;
}

/* Medium screens */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 63px;
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
    margin-top: -55px;
    z-index: 10;
    margin-right: -40px;
  }

  .navbar-search {
    display: none;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    align-items: center;
    text-align: center;
  }

  .navbar-links.open {
    max-height: 500px;
    opacity: 1;
  }

  .navbar-link {
    padding: 10px 0;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    display: flex;
    justify-content: center;
  }
}

/* Extra small screens */
@media (max-width: 625px) {
  .navbar {
    min-height: 58px;
  }

  .navbar-logo {
    transform: translateY(12.5px);
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
    margin-top: -41px;
    margin-right: -40px;
    z-index: 10;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    display: flex;
    justify-content: center;
  }
}
