.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    padding-bottom: 2px;
    transition: border 0.3s;
  }
  
  .navbar-link.active {
    border-bottom: 2px solid red;
  }
  