/* RFModal.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  color: white;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.modalContent {
  overflow-y: auto;
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.closeButton {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  align-self: flex-end;
}

.closeButton:hover {
  background-color: white !important;
  color: black !important;
}